.header {
  border-radius: 5px;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
}
.title {
  width: 5rem;
  height: 5rem;
}

.title > img {
  width: 100%;
}

.nav-items {
  display: flex;
  list-style: none;
}

.nav-items > li {
  margin: 0.5rem;
}

.card {
  border-radius: 5px;
  margin: 1rem;
  column-width: 270px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
}

.card-content {
  padding: 0.5rem;
}
.card > img {
  border-radius: 5px 5px 0 0;

  width: 100%;
}

.restaurant-list {
  display: grid;
  grid-template-columns: 280px 280px 280px 280px 280px;
  justify-content: space-between;
}

.search-bar > input {
  width: 80%;
  padding: 0.5rem;
  margin: 1rem;
  font-size: large;
}

.search-bar > button {
  padding: 0.5rem;
  font-size: large;
}
